<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Ứng dụng bài viết
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    {% block map %}
    {% endblock %}
</head>
<body>
    <header id="header" class="header-area">
        <div class="container custom-container">
            <nav class="menu-area d-flex align-items-center">
                <div class="logo">
                    <a href="/"><img src="{% static 'assets/img/logo/logo.png' %}" alt="logo" /></a>
                </div>
                <ul class="main-menu d-flex align-items-center">
                    <li>
                        <a class="{% if request.path == '/' %}active{% endif %}" href="/">Home</a>
                    </li>
                    <li class="dropdown">
                        <a class="{% if request.path == '/maps/co-ban/' or request.path == '/maps/emergency-road/' %}active{% endif %}" href="javascript:void(0)">Bản đồ</a>
                        <ul class="sub-menu">
                            <li><a class="{% if request.path == '/maps/co-ban/' %}active{% endif %}" href="{% url 'maps:co-ban' %}">Cơ bản</a></li>
                            <li><a class="{% if request.path == '/maps/emergency-road/' %}active{% endif %}" href="{% url 'maps:emergency-road' %}">Đường Khẩn cấp</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="{% if request.path == '/gioi-thieu/' %}active{% endif %}" href="/gioi-thieu">About</a>
                    </li>
                </ul>
                <div class="hamburger-menu"><span></span><span></span><span></span></div>
            </nav>
            <aside>
                <div class="sidebar-menu">
                    <div class="close-sidebar"><span></span><span></span></div>
                    <div class="logo">
                        <a href="/">
                            <img src="{% static 'assets/img/logo/logo.png' %}" alt="logo" />
                        </a>
                    </div>
                    <ul class="main-menu">
                        <li>
                            <a class="{% if request.path == '/' %}active{% endif %}" href="/">Home</a>
                        </li>
                        <li class="dropdown">
                            <a class="{% if request.path == '/maps/co-ban/' or request.path == '/maps/emergency-road/' %}active{% endif %}" href="javascript:void(0)">Bản đồ</a>
                            <ul class="sub-menu">
                                <li><a class="{% if request.path == '/maps/co-ban/' %}active{% endif %}" href="{% url 'maps:co-ban' %}">Cơ bản</a></li>
                                <li><a class="{% if request.path == '/maps/emergency-road/' %}active{% endif %}" href="{% url 'maps:emergency-road' %}">Đường Khẩn cấp</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="{% if request.path == '/gioi-thieu/' %}active{% endif %}" href="/gioi-thieu">About</a>
                        </li>
                    </ul>
                    <a class="primary__button primary__button-bgBlack contacprimary__button" href="tel:+98745478547">
                        <img src="{% static 'assets/img/logo/phone-alt.svg' %}" alt="phone alt" />
                        +987 45478 547
                    </a>
                </div>
                <div class="overlay"></div>
            </aside>
        </div>
    </header>

    <main style="position: relative; min-height: 100%; height: 100%; margin-bottom: 200px;">
        {% block content %}
        {% endblock %}

        {% block script %}
        {% endblock %}
    </main>

    <footer class="footer-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-4 col-sm-12">
                    <div class="copyright-area-text">
                        <p>Copyright 2020. All Rights Reserved by us!</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12">
                    <div class="copyright-area-logo">
                        <a href="/">
                            <img src="{% static 'assets/img/logo/logo.png' %}" alt="logo" class="img-fluid" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-4 col-sm-12">
                    <div class="copyright-area-top text-lg-right">
                        <a href="#header" id="to-top">Back to Top <i class="fas fa-angle-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/circle-progress.min.js' %}"></script>
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/slider.js' %}"></script>
    <script src="{% static 'assets/js/aos.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>