{% extends "layout.html" %}
{% load static %}

{% block title %}
Đường khẩn cấp
{% endblock %}

{% block map %}
<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" />
<link rel="stylesheet" href="{% static 'css/map/emergency-road.css' %}" />
<script src="{% static 'leaflet/leaflet.js' %}"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tomickigrzegorz/autocomplete@1.8.6/dist/css/autocomplete.min.css" />
<script src="https://cdn.jsdelivr.net/gh/tomickigrzegorz/autocomplete@1.8.6/dist/js/autocomplete.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.6.0/Control.FullScreen.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.6.0/Control.FullScreen.min.js"></script>

<!-- Add Leaflet Routing Machine -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.12/leaflet-routing-machine.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.12/leaflet-routing-machine.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <button id="getLocationBtn">Lấy vị trí của tôi</button>
    <div id="map"></div>
    <ul class="layers"></ul>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/map/emergency-road.js' %}"></script>
{% endblock %}