{% extends "layout.html" %}
{% load static %}

{% block title %}
Chỉ đường TP.HCM
{% endblock %}

{% block map %}
<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" />
<link rel="stylesheet" href="{% static 'css/map/map.css' %}" />
<script src="{% static 'leaflet/leaflet.js' %}"></script>
<script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css" />

<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/tomickigrzegorz/autocomplete@1.8.6/dist/css/autocomplete.min.css"
/>
<script src="https://cdn.jsdelivr.net/gh/tomickigrzegorz/autocomplete@1.8.6/dist/js/autocomplete.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.6.0/Control.FullScreen.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.6.0/Control.FullScreen.min.js"></script>
{% endblock %}

{% block content %}
<section class="special-services">
    <div class="container mb-3">
        <div class="row">
            <div class="col-md-6">
                <div class="auto-search-wrapper loupe text-center">
                    <input
                        type="text"
                        autocomplete="off"
                        id="start-search"
                        placeholder="Điểm bắt đầu (S) - Mặc định: Vị trí hiện tại"
                    />
                </div>
            </div>
            <div class="col-md-6">
                <div class="auto-search-wrapper loupe text-center">
                    <input
                        type="text"
                        autocomplete="off"
                        id="end-search"
                        placeholder="Điểm kết thúc (Đ)"
                    />
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row" style="height: 800px">
            <div id="map"></div>
        </div>
    </div>
</section>

{% endblock %}

{% block script %}
<script src="{% static 'js/map/search-address.js' %}"></script>
{% endblock %}