{% extends "layout.html" %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <section data-aos="fade-up">
        <h1>{{ post.title }}</h1>
        <p><em>Ngày đăng: {{ post.date }}</em></p>
        <p>{{ post.body|linebreaks }}</p> <!-- Hiển thị nội dung có xuống dòng -->
        <br>
        <div class="d-flex justify-content-center my-4">
            <a href="{% url 'posts:list' %}" class="btn btn-primary text-center">
                ⬅ Quay lại danh sách bài viết
            </a>
        </div>        
    </section>
{% endblock %}
